.App {
  text-align: center;
}

.Homepage {
  margin: 0;
  height: 100vh;
}

.homepage-menu {
  position: relative;
  top: 120px;
}

.homepage-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.homepage-form>h1 {
  margin: 0 30px;
}

.homepage-join {
  display: flex;
  flex-direction: column;
}

.homepage-join>input {
  font-size: 15px;
  width: 150px;
  line-height: 1.5em;
}

.unobox {
  width: 600px;
  height: 500px;
}

img {
  max-width: 100%;
  max-height: 100%
}

.card {
  display: inline-flex;
  height: 94px;
  width: 65px;
  margin-left: -44px;

}

.center-row {
  height: 300px;
}